{% extends 'base.html' %} {% block title %}Print Logs{% endblock %} {% block
content %}
<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>Print Log</h2>
  <button
    class="btn btn-success"
    data-bs-toggle="modal"
    data-bs-target="#logPrintModal"
  >
    Log Print
  </button>
</div>
<table
  class="table table-bordered"
  id="logTable"
>
  <thead>
    <tr>
      <th onclick="sortTable(0)">Date</th>
      <th onclick="sortTable(1)">Model</th>
      <th>Printer</th>
      <th>Material</th>
      <th>Used (g)</th>
      <th>Layer</th>
      <th>Status</th>
      <th>Claimed</th>
    </tr>
  </thead>
  <tbody>
    {% for log in logs %}
    <tr>
      <td>{{ log.date_started }}</td>
      <td>{{ log.model_name }}</td>
      <td>{{ log.printer_name }}</td>
      <td>{{ log.material_code }}</td>
      <td>{{ log.material_used }}</td>
      <td>{{ log.layer_height }}mm</td>
      <td>{{ log.status }}</td>
      <td>{{ log.time_claimed or '-' }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div
  class="modal fade"
  id="logPrintModal"
  tabindex="-1"
  aria-labelledby="logPrintModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form
        method="POST"
        action="{{ url_for('views.log_print') }}"
      >
        {{ log_print_form.hidden_tag() }}
        <div class="modal-header">
          <h5
            class="modal-title"
            id="logPrintModalLabel"
          >
            Log New Print
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row g-3">
            <div class="col-md-6">
              {{ log_print_form.date_started.label }} {{
              log_print_form.date_started(class="form-control") }}
            </div>
            <div class="col-md-6">
              {{ log_print_form.time_started.label }} {{
              log_print_form.time_started(class="form-control") }}
            </div>
            <div class="col-md-6">
              {{ log_print_form.model_name.label }} {{
              log_print_form.model_name(class="form-control") }}
            </div>
            <div class="col-md-6">
              {{ log_print_form.printer_id.label }} {{
              log_print_form.printer_id(class="form-control") }}
            </div>
            <div class="col-md-6">
              {{ log_print_form.material_id.label }} {{
              log_print_form.material_id(class="form-control") }}
            </div>
            <div class="col-md-6">
              {{ log_print_form.material_used.label }} {{
              log_print_form.material_used(class="form-control") }}
            </div>
            <div class="col-md-6">
              {{ log_print_form.print_duration.label }} {{
              log_print_form.print_duration(class="form-control") }}
            </div>
            <div class="col-md-6">
              {{ log_print_form.layer_height.label }} {{
              log_print_form.layer_height(class="form-control") }}
            </div>
            <div class="col-md-6">
              {{ log_print_form.nozzle_temp.label }} {{
              log_print_form.nozzle_temp(class="form-control") }}
            </div>
            <div class="col-md-6">
              {{ log_print_form.bed_temp.label }} {{
              log_print_form.bed_temp(class="form-control") }}
            </div>
            <div class="col-md-6">
              {{ log_print_form.chamber_temp.label }} {{
              log_print_form.chamber_temp(class="form-control") }}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-success"
          >
            Log Print
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
