{% extends 'base.html' %} {% block title %}Dashboard{% endblock %} {% block
content %}
<h2 class="text-center">Dashboard</h2>
<br />
<div class="d-flex justify-content-between align-items-center mb-3">
  <h4>Active Print Jobs</h4>
  <button
    class="btn btn-success"
    data-bs-toggle="modal"
    data-bs-target="#logPrintModal"
  >
    Log Print
  </button>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Printer</th>
      <th>Model</th>
      <th>Started</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for job in active_jobs %}
    <tr>
      <td>{{ job.printer_name }}</td>
      <td>{{ job.model_name }}</td>
      <td>{{ job.date_started }} {{ job.time_started }}</td>
      <td>{{ job.status }}</td>
      <td>
        <form
          method="post"
          action="{{ url_for('update_status', job_id=job.id) }}"
        >
          <button
            class="btn btn-success"
            name="status"
            value="Done"
          >
            Done
          </button>
          <button
            class="btn btn-danger"
            name="status"
            value="Fail"
          >
            Fail
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h4 class="mt-5">Materials Manager</h4>
<form
  method="get"
  action="{{ url_for('views.dashboard') }}"
  class="mb-4"
>
  <input
    type="text"
    name="search"
    class="form-control"
    placeholder="Search inventory..."
  />
</form>

<h4 class="mt-5">Low Stock Materials</h4>
<ul>
  {% for item in low_stock %}
  <li>{{ item.code }} - {{ item.weight_remaining }}g remaining</li>
  {% endfor %}
</ul>
<div
  class="modal fade"
  id="logPrintModal"
  tabindex="-1"
  aria-labelledby="logPrintModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form
        method="POST"
        action="{{ url_for('views.log_print') }}"
      >
        {{ log_print_form.hidden_tag() }}
        <div class="modal-header">
          <h5
            class="modal-title"
            id="logPrintModalLabel"
          >
            Log New Print
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row g-3">
            <div class="col-md-6">
              {{ log_print_form.date_started.label }} {{
              log_print_form.date_started(class="form-control") }}
            </div>
            <div class="col-md-6">
              {{ log_print_form.time_started.label }} {{
              log_print_form.time_started(class="form-control") }}
            </div>
            <div class="col-md-6">
              {{ log_print_form.model_name.label }} {{
              log_print_form.model_name(class="form-control") }}
            </div>
            <div class="col-md-6">
              {{ log_print_form.printer_id.label }} {{
              log_print_form.printer_id(class="form-control") }}
            </div>
            <div class="col-md-6">
              {{ log_print_form.material_id.label }} {{
              log_print_form.material_id(class="form-control") }}
            </div>
            <div class="col-md-6">
              {{ log_print_form.material_used.label }} {{
              log_print_form.material_used(class="form-control") }}
            </div>
            <div class="col-md-6">
              {{ log_print_form.print_duration.label }} {{
              log_print_form.print_duration(class="form-control") }}
            </div>
            <div class="col-md-6">
              {{ log_print_form.layer_height.label }} {{
              log_print_form.layer_height(class="form-control") }}
            </div>
            <div class="col-md-6">
              {{ log_print_form.nozzle_temp.label }} {{
              log_print_form.nozzle_temp(class="form-control") }}
            </div>
            <div class="col-md-6">
              {{ log_print_form.bed_temp.label }} {{
              log_print_form.bed_temp(class="form-control") }}
            </div>
            <div class="col-md-6">
              {{ log_print_form.chamber_temp.label }} {{
              log_print_form.chamber_temp(class="form-control") }}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-success"
          >
            Log Print
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
