{% extends 'base.html' %} {% block title %}Log Print{% endblock %} {% block
content %}
<h2>Log a New Print Job</h2>

<form method="post">
  <div class="row">
    <div class="col">
      <label>Printer</label>
      <select
        name="printer"
        class="form-control"
        required
      >
        {% for p in printers %}
        <option value="{{ p.id }}">{{ p.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col">
      <label>Model Name</label>
      <input
        type="text"
        name="model_name"
        class="form-control"
        required
      />
    </div>
    <div class="col">
      <label>Material</label>
      <select
        name="material"
        class="form-control"
        required
      >
        {% for m in materials %}
        <option value="{{ m.code }}">{{ m.code }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <label>Material Used (g)</label>
      <input
        type="number"
        name="material_used"
        class="form-control"
        required
      />
    </div>
    <div class="col">
      <label>Duration (min)</label>
      <input
        type="number"
        name="duration"
        class="form-control"
        required
      />
    </div>
    <div class="col">
      <label>Layer Height (mm)</label>
      <input
        type="text"
        name="layer_height"
        class="form-control"
        required
      />
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <label>Nozzle Temp (°C)</label>
      <input
        type="number"
        name="nozzle_temp"
        class="form-control"
      />
    </div>
    <div class="col">
      <label>Bed Temp (°C)</label>
      <input
        type="number"
        name="bed_temp"
        class="form-control"
      />
    </div>
    <div class="col">
      <label>Chamber Temp (°C)</label>
      <input
        type="number"
        name="chamber_temp"
        class="form-control"
      />
    </div>
  </div>

  <button class="btn btn-success mt-3">Log Print</button>
</form>
{% endblock %}
